
body {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .wrapper {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -100px;
}
.ui-switch {
    margin: 7px auto;
    -webkit-appearance: none;
    outline: 0;
    border: none;
    cursor: pointer;
    position: relative;
    display: block;
    width: 51px;
    height: 31px;
    border-radius: 15px;
    background-color: #ddd;
    transition: .4s ease;
}
.ui-switch:before {
    content: "";
    z-index: 100;
    display: block;
    width: 47px;
    height: 27px;
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 15px;
    background-color: white;
    transition: .4s ease;
}
.ui-switch:after {
    content: "";
    z-index: 200;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 27px;
    height: 27px;
    background-color: white;
    border-radius: 29px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35), 0px 4px 5px rgba(0, 0, 0, 0.15);
    transition: .4s ease;
}
.ui-switch:checked {
    background-color: #4cd964;
}
.ui-switch:checked.default {
    background-color: #4cd964;
}
.ui-switch:checked.green {
    background-color: #4cd964;
}
.ui-switch:checked.blue {
    background-color: #3B5998;
}
.ui-switch:checked.pink {
    background-color: #c4656f;
}
.ui-switch:checked.red {
    background-color: #FA3311;
}
.ui-switch:checked:before {
    width: 12px;
    height: 0px;
    top: 15px;
    right: 15px;
}
.ui-switch:checked:after {
    left: 22px;
}
.ui-switch:checked:active:after {
    margin-left: -5px;
}
.ui-switch:active:after {
    padding-left: 5px;
}
html.no-touch .ui-switch:hover:after {
    padding-left: 5px;
}
html.no-touch .ui-switch:checked:hover:after {
    margin-left: -5px;
}


